<html>
	<head>
		<title>Admin page</title>
	</head>
	<body>
		<h1>Hi admin!</h1>
		<div>
				<% if (submission!='') { %>
					<table class="formresults" align="center">
							<tr>
								<th>Name</th>
								<th>Email</th>
								<th>Submision timestamp</th>
							</tr>
							<% for (var i=0; i<submission.length; i++) { %>
								<tr>
									<td>
						      			<%= submission[i].name %>
						    		</td>
						    		<td>
						      			<%= submission[i].email %>
						    		</td>
						    		<td>
						      			<%= submission[i].submitstamp %>
						    		</td>
						    		<td>
						    			<button id=<%= submission[i].email %>>Send slack!</button>
						    		</td>
								</tr>
							<% } %>
					</table>
				<% } else { %>
					<p>No submissions today yet</p>
				<% } %>
			</div>

<script>
// need server to hit https://slack.com/api/users.lookupByEmail?email=jlin@hubspot.com&token=xoxp-339931371808-438491634368-710544668736-8df5d0c33e8fc666e8259080c198c83f to get the slack userID, then 
// post to webhook https://hooks.slack.com/services/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 a message
$("button").click(function(){

	$.ajax({
	    type: "POST",
	    url: "/slack",
	    // The key needs to match your method's input parameter (case-sensitive).
	    data: JSON.stringify({ Markers: markers }),
	    contentType: "application/json; charset=utf-8",
	    dataType: "json",
	    success: function(data){alert(data);},
	    failure: function(errMsg) {
	        alert(errMsg);
	    }
	});

});
</script>
	</body>
</html>