<html>
	<head>
		<title>Home page</title>
	</head>
	<body>
		<h1>Hi please fill up the form to get in the queue for waffles!</h1>
		<form action="/submit" method="post">
			Name:
			<input type='text' name='name' placeholder='Your name' required>
			Email:
			<input type='text' name='email' required>
			<input type="submit" name="submit" value="Submit">
		</form>


	</body>
</html>